h1 {
    margin: 0;
}

.btn {
    width: 100%;
    margin: 5px;
}

.card-panel {
    margin: 10px;
}

.uv-index {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.uv-index-num {
    padding: 3px;
    border: 3px;
    border-radius: 3px;
    margin: 5px;
}
